{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-trailing-spaces": 1,
    "no-useless-escape": 0,
    "no-restricted-globals": 0,
    "no-duplicate-imports": 0,
    "max-statements-per-line": 0,
    "no-warning-comments": 0,
    "require-jsdoc": 0,
    "no-loop-func" : 0,
    "arrow-parens": 0,
    "quotes": ["error", "single", {
    "avoidEscape": true,
    "allowTemplateLiterals": true
    }],
    "indent": [
      "error",
      2,
      {
        "MemberExpression": 1,
        "SwitchCase": 1
      }
    ],
    "max-len": [2, {
      "code": 120,
      "tabWidth": 2,
      "ignoreUrls": true
    }],
    "comma-dangle": ["error", "never"],
    "newline-before-return": "error"
  }
}